@import url('./normalize.css');
@import url('./simple-grid.css');

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

ul.mail.list {
    list-style-type: none;
    padding: 0;
	color: white;
}

ul.mail.list li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

ul.mail.list a {
    text-decoration: none;
}

ul.mail.list .sender {
	width: 35%;
	display: inline-block;
	float: left;
	overflow: hidden;
}

ul.mail.list .content {
    width: 65%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	color: grey;
}

ul.mail.list .content .title {
	color: white;
}

ul.mail.list .delete {
    text-align: center;
    cursor: pointer;
}

.default.theme ul.mail.list li {
    background-color: rgba(5, 5, 5, .85);
    border-bottom: 1px solid grey;
}

.default.theme ul.mail.list a:hover {
    background-color: rgba(5, 5, 5, .55);
}


.default.theme ul.mail.list li a {
	color: white;
}
