<div>
    <!-- <search></search> -->
    <ul class="mail list">
        <li class="grid" ng-repeat="email in maillist.emails | orderBy:'received':true" ng-class="{'new': !email.read}">
            <a class="col-7-8" ui-sref="app.view({ emailid: email.id })">
                <div class="sender">{{email.sender}}</div>
                <div class="content">
                    <span class="title">{{email.title}}</span>
                    <span class="text"> - {{email.content}}</span>
                </div>
            </a>
            <div class="delete col-1-8" ng-click="maillist.deleteEmail(email.id)">Delete</div>
        </li>
    </ul>
</div>
